/* Pink Stylesheet */

body, .filagree-break span  { background-color: #f6d6d6; }
.filagree-break, .post .title, .page .title, .archive_header  { border-color: #c8bbbb; }
#post-author, .widget, #comments .comment, #connect .social, .countdown-timer .countdown_section, #stats .stat, .host_names .ampersand  { border-color: #d0c1c1; }
.host_names .ampersand span  { color: #916464; }
#comments .nocomments  { color: #896C6C; }